<!DOCTYPE html>
<html>
<head>
    <title>이메일 인증 안내 메일</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>{{ username }}님께 </p>
<p>
    이메일 인증 안내 메일입니다.
    <br>
    아래의 링크를 클릭하여 이메일을 인증하세요.
</p>
<br>
<p>
    <a href={{url}}> 인증 링크</a>
</p>
<br/>
<p>서정권이 보냄</p>
</body>
</html>
