<!DOCTYPE html>
<html>
    <head>
        <title>비밀번호 리셋 안내 메일</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>{{ username }}님께 </p>
        <p>
          비빌번호 변경 요청 안내 메일입니다.
          <br>
          아래의 링크를 클릭하여 패스워드를 변경하세요.
        </p>
        <br>
        <p>
          <a href={{url}}> 로그인 링크</a>
        </p>
        <br/>
        <p>서정권이 보냄</p>
    </body>
</html>
